* {
    box-sizing: border-box;
}

ul,li,h1,p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.center{
    display: flex;
    justify-content: center;
}


.container {
    max-width: 1140px;
    margin-right:auto;
    margin-left: auto;
}

.title__pink{
    font-size: 36px;
    font-weight: 900;
    color: #ef44c5;
}

.pink{
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ef44c5;
    }


/* __________________________________________HEADER________________________________ */
header {
    width: 100%;
    background-color: #ff00c1;
}

.header__wrapp {
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width:325px){
    .header__wrapp{
        justify-content: center;
        padding-bottom: 10px;
    }
    .header__site-name{
        margin-bottom: 5px;
    }
}

.header__site-name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.header__name-link{
    color: #ffffff;
    text-decoration: none;
}

.header__name-link:hover{
    color: #1e88fe;
}

.header__orders-link {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 1px dashed #ffffff;
}

.orders-link:hover{
    color: #1e88fe;
}

.header__24{
    color: #1e88fe;
    font-weight: 900;
    text-decoration: none;
}

.header__24:hover{
    color: #ffffff;
}

.orders-link {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width:445px){
    header{
        min-height: 40px;
    }

    .header__site-name{
        font-size: 12px;
    }
    .header__orders-link{
        font-size: 12px;
    }

}

/* ________________________________________/////////////////HEDER/////////////////// */

/* ______________________MAIN___________________________ */

/* ________________START__________________ */

.section__buy-now{
    width: 100%;
    background-color: #ef44c5;
    padding-top: 40px;
}

.buy__now__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buy__info__wrapper{

}

.buy__title{
    max-width: 360px;
    color: #f3f1f1;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;

}

.buy__blue-title {
    color:#1e88fe ;
    font-size: 48px;
}

.buy__plus {
    max-width: 338px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.buy__plus-ul{
    list-style: none;
}

.buy__plus-li{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 5px;
}

.buy__plus-li:last-child {
    padding-bottom: 0;
}

.buy__price__wrapper{
    margin-top:30px;
    margin-bottom: 30px;
    max-width: 322px;
}

.buy__price-text{
    padding-top: 15px;
    margin-left: 20px;
    text-align: left;
    color: #1e88fe;
    font-size: 24px;
    font-weight: 700;
}

.buy__price-subtext {
    padding-top: 13px;
    margin-right: 20px;
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.buy__price{  
    display: flex;   
    justify-content: space-around;   
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background: rgb(30,136,254);
    background: linear-gradient(-60deg, rgba(30,136,254,1) 0%, rgba(30,136,254,1) 51%, rgba(255,255,255,1) 51%);
}

.buy__link__wrapper {
    padding-bottom: 40px;
    /* display: flex;
    justify-content: center; */
}

.buy__link{
    max-width: 322px;
    height: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.897);
    animation: pulse 3s infinite;
    display: flex;
    justify-content: center;

}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(255,255,255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
  }

  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(255,255,255, 0);
        box-shadow: 0 0 0 30px rgba(255,255,255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
  }





.buy__link-text{
    text-align: center;
    padding-top: 15px;
    padding-right: 48px;
    padding-left: 48px;
}

.buy__link-text a{
    text-transform: uppercase;
    color: #ef44c5;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.buy__link-text a:hover{
     color: #1e88fe;
}


.buy__img__wrapper {
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
    background-color:rgba(248,177,231, 0.45);
    box-shadow: 0 0 0 rgba(0,81,203, 0.897);
    animation: fulse 2s infinite;
    
}

.buy__img__wrapper img{
    max-width: 100%;
    margin-top: 80px;

}


@-webkit-keyframes fulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 60px rgba(255,255,255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
  }

  @keyframes fulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 90px rgba(255,255,255, 0);
        box-shadow: 0 0 0 60px rgba(255,255,255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
  }

  @media (max-width:760px){
    .buy__title{
        text-align: center;
    }
    .buy__plus{
        text-align: center;
    }
    .buy__img__wrapper{
        display: none;
    }
    .buy__price__wrapper{
        margin-left: auto;
        margin-right: auto;
    }
    .buy__link__wrapper {
        display: flex;
        justify-content: center;
    }
  }



/* _____________________________________________//////////////////START/////////////////////____________________ */

/* __________________________________________________PLUS________________________ */

.section__plus{

}

.plus__wrapper{
    display: flex;
    justify-content: space-around;
    max-width: 640px;
}

.plus__card{
    width: 110px;
    margin-right: 50px;
}



.card__ico{
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 110px;
    height: 110px;
    background-color: #1e88fe;
    border-radius: 50%;
}


@media(max-width:330px){
    .plus__card{
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width:640px){
    .plus__wrapper{
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }
    .plus__card{
        margin-right: 0;
    }
}



.fa{
    text-align: center;
    font-size: 78px;
    font-weight: 900;
    color: #ffffff;
    position: absolute;
    top: 15px;
    right: 15px;
}

.fa-trophy{
    position: absolute;
    top: 15px;
    right: 10px;
}

.fa-plane{
    position: absolute;
    top: 15px;
    right: 10px;
}

.card__text{
    width: 110px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 55px;
    color: #1e88fe;
    font-size: 18px;
    font-weight: 700;
    border-top: 3px solid #ef44c5;
}

/* ________________________///////////////////////PLUS////////////////////////_____________________ */

/* __________________________________IMG_______________________________ */



.section__img{
    background-color: rgba(30, 136, 254, 0.6);
}

.img__title{
    display: block;
    margin-bottom: 30px;
    padding-top: 60px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #ffffff;
}

.img__wrapper img{
    max-width: 100%;
}

.img__wrapper{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.img__text{
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-bottom: 75px;
}

@media(max-width:414px){
    .img__text{
        font-size: 18px;
    }
}
/* ____________________________//////////////////////IMG////////////////______________ */

/* ___________________________________MODEL_________________________ */

.section__model{
    background-color: rgba(30, 136, 254, 0.6);
}

.model__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 70px;
}

.model__wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card__wrapper{
    max-width: 335px;
}

.card__model-title{
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
    max-width: 100%;
}

.card__model-img{
    margin-bottom: 40px;
}

.card__model-img img{
    maX-width: 100%;
}

.card__model-info{
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.card__model-info::before{
    content: "--";
    color: #ffffff;
}

.model__info-wrapper{
    margin-bottom: 40px;
}


.model__link{
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.card__model__link{
    width: 100%;
    height: 90px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    background-color: #ffffff;


    color: #ef44c5;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding: 25px 60px 25px 60px;
    
}

.card__model__link:hover{
    background-color: rgb(30, 136, 254);
    color: #ffffff;
}
@media(max-width:370px){
    .card__model-info::before{
        content: "•";
        color: #ffffff;
    }
    .card__model-info{
        text-align: center;
    }
}
/* ___________________________________///////////MODEL////////////_________________________ */


/* ___________________________________REVIEW_____________________ */

.section__review{
    background-color: #fff;
}

.review__title{
    padding-top: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1e88fe;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.section__review--wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.review__wrapper{
    max-width: 245px;
}

.review__text{
    width: 100%;
    color: #1e88fe;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.small{
    margin-bottom: 130px;
}

.review__img{
    margin-bottom: 50px;
}

.review__img img{
    max-width: 100%;
    height: 175px;
}

@media (max-width:760px){
    .small{
        margin-bottom: 2px;
    }
}
/* ______________________////////////////////REVIEW/////////////____________ */

/* _________________________________HOW ORDER_________________________ */

.section__howorder{
    background-color: rgba(30, 136, 254, 0.6);
}

.section__howorder--wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 125px;
}

.howorder__img img{
    max-width: 100%;
}

.howorder__title{
    color: #ffffff;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.stages__wrapper{

}

.stages{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.stages:last-child{
    margin-bottom: 0px;
}

.stages__number{
    color: #ffffff;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 5px 20px 5px 17px;
    margin-right: 20px;

    max-width: 60px;
    max-height: 60px;
    border-radius: 50px;
    border: 3px dashed #ffffff;
    background-color: rgba(196, 196, 196, 0);
}

.stages__info{
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
}

.upper{
    font-size: 24px;
    text-transform: uppercase;
}

@media (max-width:787px){
    .howorder__img{
        margin-bottom: 30px;
    }
    .stages__wrapper{
        margin-left: 10px;
    }
}

/* _____________________//////////////HOW ORDER/////////////________________ */

/* ____________________________FORM__________________ */

.section__form{
    background-color: #ef44c5;
}

.section__form--wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 80px;
}

.form__wrapper{
    max-width: 390px;
}


.info__title{
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 30px;
}


@media(max-width: 358px){
    .info__center{
        width: 100%;
        margin-left: 0px;
    }
}

.form__title{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.form__title::before,.form__title::after{
    content: "-";
    color: #1e88fe;
}

.order__form{
    text-align: center;
    max-width: 340px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

.form__input{
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background-color: #ffffff;
    padding-left: 20px;
    margin-bottom: 10px;
    border: none;
}

.form__input::placeholder{  
    color: rgba(30, 136, 254, 0.59);
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}

.form__input:focus{
    outline: none;
    background-color: #1e88fe;
    color: #fff;
}

.form__input:focus::-webkit-input-placeholder{
    color: #fff;
}

.form__button{
        /* Style for "Rectangle" */
    width: 100%;
    height: 60px;
    box-shadow: 0 15px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
}

.form__button:hover,.form__button:focus{
    outline: none;
    border: none;
}

.form__button:hover{
    background-color: #1e88fe;
}

.form__button:valid:hover{
    color: #fff;
}

.info__center{
    margin-right: auto;
    margin-left: auto;
}


.form__button:valid{
    color: #ff00c1;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}

@media(max-width: 780px){
    .none{
        display: none;
    }

}


/* ___________////////////////////////FORM////////////__________ */

/* _______________FOOTER___________________ */

.footer{
    background-color: #ff00c1;
}

.footer__wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 10px;
}

.footer__social{
    display: flex;
    max-width: 275px;
    justify-content: space-between;
    text-align: center;
}

.social__title{
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    margin-right: 15px;
    text-align: center;
}

.social__link{

}

.link__img img{
    max-width: 100%;
    height: 40px;
    padding-bottom: 10px;
    margin-right: 5px;
}

.copyright__img img{
    max-width: 100%;
    height: 40px;
    padding-bottom: 10px;
    margin-right: 5px;
}

.copyright__title{
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    padding-top: 5px;
    text-decoration: none;
}

.copyright__title:hover{
    color: #1e88fe;
}


.footer__copyright{
    display: flex;
}

@media (max-width:460px){
    .footer__wrapper{
        justify-content: center;
    }
}